<div class="container-fluid" id="reg-fields">
      <h1 class="banner">Registration</h1>
      <form class="form-horizontal">
        <!-- <label for="inputEmail" class="sr-only">Email</label> -->
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email" required autofocus>
        <!-- <label for="inputPassword" class="sr-only">Password</label> -->
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

        <div>
          <h4>Register As: </h4>
          <label class="radio-inline"><input type="radio" name="type" value="hacker">Hacker</label>
          <label class="radio-inline"><input type="radio" name="type" value="organizer">Organizer</label>
          <label class="radio-inline"><input type="radio" name="type" value="sponsor">Sponsor</label>
          <!-- <button type="submit" class="btn btn-primary" ng-click="hacker()">Hacker</button> -->
          <!-- <button type="submit" class="btn btn-primary" ng-click="organizer()">Organizer</button> -->
          <!-- <button type="submit" class="btn btn-primary" ng-click="sponsor()">Sponsor</button> -->
          <br>
          <br>
          <button type="submit" class="btn btn-primary" ng-click="onRegister()">Register</button>
        </div>
      </form>
</div>
