<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/main">Hiccup</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="http://boilermake2017.slack.com" class="large-link">Slack</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="large-link">Logout</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid col-sm-4" style="display:inline;padding-right: 0px;">
  <ul class="list-group" ng-click="$event.preventDefault()">
    <li class="list-group-item"><a href="#" style="display:block" ng-click="companyNum = 0">Company 1</a></li>
    <li class="list-group-item"><a href="#" style="display:block" ng-click="companyNum = 1">Company 2</a></li>
    <li class="list-group-item"><a href="#" style="display:block" ng-click="companyNum = 2">Company 3</a></li>
  </ul>
</div>
<!-- To be replaced with backend data -->
<div class="container-fluid col-sm-8" id="sponsor-info" style="height:87%;">
  <div class="row">
    <img src="{{companyArray[companyNum].CompanyImageURL}}" class="img-circle" style="display: block;margin: auto;width: 20%;">
  </div>
  <h2 style="text-align: center;"><strong>{{companyArray[companyNum].CompanyName}}</strong></h2>
  <!-- About Us -->
  <div class="panel panel-danger" style="padding-left:0px;padding-right:0px;margin-bottom: 10px;margin-top: 10px;height:auto;">
    <div class="panel-heading">About Us</div>
    <div class="panel-body">{{companyArray[companyNum].AboutUs}}</div>
  </div>
<!-- API's -->
  <div class="panel panel-primary" style="padding-left:0px;padding-right:0px;margin-bottom: 10px;margin-top: 10px;height:auto;">
    <div class="panel-heading">API's</div>
    <div class="panel-body">{{companyArray[companyNum].APIs}}</div>
  </div>
<!-- Prizes/Contests -->
  <div class="panel panel-info" style="margin-top: 10px;margin-bottom: 10px;height:auto;">
    <div class="panel-heading">Prizes/Contests</div>
    <div class="panel-body">{{companyArray[companyNum].PrizesContests}}</div>
  </div>
<!-- Swag -->
  <div class="panel panel-warning" style="margin-top: 10px;margin-bottom: 10px;height:auto;">
    <div class="panel-heading">Swag</div>
    <div class="panel-body">{{companyArray[companyNum].Swag}}</div>
  </div>

  </div>
</div>
