<div class="container-fluid">
  <h1 class="banner">Hiccup</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <input type="text" class="form-control" id="inputEmail" placeholder="Email"/>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password"/>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <button type="button" class="btn btn-primary btn-stretch" ng-click="onRegister()">Register</button>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-primary btn-stretch" ng-click="onLogin()">Login</button>
      </div>
    </div>
  </form>
</div>
