<nav class="navbar navbar-default" id="topnav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/main">Hiccup</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" class="large-link">Slack</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="large-link">Logout</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid full-height">
  <div class="row full-height">
    <div class="col-sm-4 full-height">
      <div class="panel panel-primary" style="border: 1px solid #2196f3;">
        <div class="panel-heading">
          <h3 class="panel-title">Announcements
            <button type="button" class="btn btn-primary right-btn" data-toggle="modal" data-target="#announceModal">+</button></h3>
        </div>
        <div class="panel-body" style="height: 80%">
          <ul>
            <li ng-repeat="announcement in announcements">
              <strong style="font-size: 16px;">{{announcement.text}}</strong><br>{{announcement.time}}
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-success" style="border: 1px solid #4caf50;">
        <div class="panel-heading">
          <h3 class="panel-title">Schedule<button class="btn btn-success right-btn">+</button></h3>

        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="btn btn-warning" style="width: 100%">
        <a href="#!/sponsor" style="text-decoration: none; display: block;">
        <h4 style="color: white;">
          Sponsors
        </h4>
        </a>
      </div>
    </div>
    <div class="no-pad col-sm-8 full-height" id="feed">
      <ul class="nav nav-tabs panel-tab">
        <li class="active"><a data-toggle="tab" data-target="#live">Live Feed</a></li>
        <li><a data-toggle="tab" data-target="#polls">Live Polls</a></li>
      </ul>
      <div class="tab-content">
        <div id="live" class="tab-pane fade in active">
          <ul class="post-list">
            <!-- <li ng-repeat="post in liveposts" class="post">{{post}}</li> -->
            <li ng-repeat="post in liveposts">
              <div class="post"><strong>{{post.username}}</strong><br>{{post.text}}</div>
            </li>
          </ul>
          <input type="text" class="form-control bottom" id="new-post" placeholder="New Post"/>
        </div>

        <div id="polls" class="tab-pane fade">
          <ul class="post-list">
            <!-- <li ng-repeat="post in liveposts" class="post">{{post}}</li> -->
            <li ng-repeat="poll in livepolls">
              <div class="poll"><strong>{{poll.title}}</strong>
                <br>{{poll.text}}<br>
                <button class="btn btn-primary like-btn" ng-click="pressLike($index)" style="float: left;">👍<span class="badge">{{poll.up.length-1}}</span></button>
                <button class="btn btn-primary like-btn" ng-click="pressDislike($index)" style="float: right;">👎<span class="badge">{{poll.down.length-1}}</span></button>
              </div>
            </li>
          </ul>
          <form class="bottom" style="display: none;" id="poll_form">
            <div class="row">
              <div class="col-xs-5">
                <input type="text" id="poll_title" placeholder="Poll Title"/>
              </div>
              <div class="col-xs-5">
                <input type="text" id="poll_text" placeholder="Poll Description"/>
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-primary" style="margin-left: 50px;" id="new-poll" ng-click="addPoll()">Post!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="announceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Announcement</h4>
          <hr>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" id="announcebox" placeholder="New Announcement"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="newAnnouncement()">Save</button>
        </div>
      </div>

    </div>
  </div>


</div>
